.erxes-message-sender {
  border-top: 1px solid lighten($grey, 10%);
  font-size: 12px;
  min-height: 60px;
  position: relative;

  textarea.reply {
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    color: $text-color;
    font-size: 14px;
    height: 100%;
    left: 0;
    padding: 20px 25px;
    width: 100%;
    max-width: 100%;
    outline: none;
    resize: none;
    padding-right: 40px;
    position: absolute;
    top: 0;
    @include prefix((
      transition: box-shadow .3s ease-in-out
    ), webkit moz ms o);

    &:focus {
      @include prefix((
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, .08)
      ), webkit moz ms o);
    }
  }

  .btn-attach {
    position: absolute;
    right: 15px;
    top: 13px;
    background-image: url($icon-file);
    background-position: 2px 3px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin: 0;
    cursor: pointer;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    input[type="file"] {
      display: none;
    }
  }

  .loader {
    position: absolute;
    right: 23px;
    top: 20px;
    border: 2px solid $grey;
    @include prefix((
      animation: spin 1s linear infinite
    ), webkit moz ms o);
    border-top: 2px solid darken($grey, 10%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
